body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  /* Permite que el contenido ocupe todo el ancho cuando el sidebar está cerrado */
  .content-breadcrumb, .content {
    transition: margin-left 0.3s;
  }
  
  .sidebar {
    overflow: hidden;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.sidebar.w-64 {
    width: 16rem; /* 64 * 0.25rem = 16rem */
}

.ml-64 {
    margin-left: 16rem;
}

.ml-0 {
    margin-left: 0;
}
.FOOTER {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
