<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Team</th>
      <th>Age</th>
      <th>College</th>
      <th>Country</th>
      <th>Draft Year</th>
      <th>Points</th>
      <th>Rebounds</th>
      <th>Assists</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.id }}</td>
      <td>{{ player.name }}</td>
      <td>{{ player.team }}</td>
      <td>{{ player.age }}</td>
      <td>{{ player.college }}</td>
      <td>{{ player.country }}</td>
      <td>{{ player.draftYear }}</td>
      <td>{{ player.points }}</td>
      <td>{{ player.rebounds }}</td>
      <td>{{ player.assists }}</td>
    </tr>
  </tbody>
</table>
