<app-breadcrumb></app-breadcrumb>
<div class="practica1">
    <p>Anatomy of a component : En esta practica aprendiemos a midificar un componente , en este caso fue el color y el texto   </p>
    <app-practica01></app-practica01>
</div>
 <br>
<div class="practica2">
    <p>Updating the component class : En esta practica aprendimos a ocupar los componentes ya en un template , tambien ocupamos la interpolacion de los datos , sabemos <br>
    que para lograrlo se necesita de dos llaves 
    </p>
    <app-practica02></app-practica02>
</div>
<router-outlet>