<!-- Contenedor principal -->
<div class="content-wrapper">
  <!-- Si el usuario NO está logueado, se muestra el botón de Login -->
  <div *ngIf="!isLoggedIn" class="login-container">
    <app-login (loginSuccess)="loginClick()"></app-login> <!-- Emitir evento de login cuando el usuario haga login -->
  </div>

  <!-- Si el usuario está logueado, se muestra el contenido -->
  <div *ngIf="isLoggedIn" class="exercise-container">
    <ng-container [ngSwitch]="exerciseName">
      <app-ejercicio-01 *ngSwitchCase="'Ejercicio 01'"></app-ejercicio-01>
      <app-ejercicio-02 *ngSwitchCase="'Ejercicio 02'"></app-ejercicio-02>
      <app-ejercicio-03 *ngSwitchCase="'Ejercicio 03'"></app-ejercicio-03>
      <app-ejercicio-04 *ngSwitchCase="'Ejercicio 04'"></app-ejercicio-04>
      <app-ejercicio-05 *ngSwitchCase="'Ejercicio 05'"></app-ejercicio-05>
      <app-ejercicio-06 *ngSwitchCase="'Ejercicio 06'"></app-ejercicio-06>
      <app-ejercicio-07 *ngSwitchCase="'Ejercicio 07'"></app-ejercicio-07>
      <app-ejercicio-08 *ngSwitchCase="'Ejercicio 08'"></app-ejercicio-08>
      <app-ejercicio-09 *ngSwitchCase="'Ejercicio 09'"></app-ejercicio-09>
      <app-ejercicio-10 *ngSwitchCase="'Ejercicio 10'"></app-ejercicio-10>
      <app-ejercicio-11 *ngSwitchCase="'Ejercicio 11'"></app-ejercicio-11>
      <app-ejercicio-12 *ngSwitchCase="'Ejercicio 12'"></app-ejercicio-12>
      <app-tabla01 *ngSwitchCase="'Tabla 01'"></app-tabla01>
      <app-tabla02 *ngSwitchCase="'Tabla 02'"></app-tabla02>
      <app-tabla03 *ngSwitchCase="'Tabla 03'"></app-tabla03>
      <app-tabla04 *ngSwitchCase="'Tabla 04'"></app-tabla04>
      <app-grafica01 *ngSwitchCase="'Grafica 01'"></app-grafica01>
      <app-grafica02 *ngSwitchCase="'Grafica 02'"></app-grafica02>
      
      <!-- Mensaje cuando no hay ejercicio seleccionado -->
      <div *ngSwitchDefault class="no-exercise">
        <p>Selecciona un ejercicio en el panel "Ejercicios" (navbar).</p>
      </div>
    </ng-container>
  </div>
</div>
