<table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Marca Favorita</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Christan Paul</td>
        <td>Rodriguez Perez</td>
        <td>Nike</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Agustin</td>
        <td>Jimenez Castillo</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Ailton </td>
        <td>Artiaga Quiroz</td>
        <td>Nike</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Dulce</td>
        <td>Balderas Gomez</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Daniel de Jesus</td>
        <td>ravo Godinez</td>
        <td>Pirma</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Edgar</td>
        <td>Velazques Cabrera</td>
        <td>Adida</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Osvaldo Abisahi</td>
        <td>Flores Campos</td>
        <td>Pirma</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Carlos Issac</td>
        <td>Fosado Escudero</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Lorena Citlali</td>
        <td>Galindo Gonzales</td>
        <td>Nike</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Esther</td>
        <td>Gonzales Peralta</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Abril</td>
        <td>Barrera Guzman</td>
        <td>Pirma</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Tania</td>
        <td>Ibarra Salgado</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Brandom</td>
        <td>Carera Leon</td>
        <td>Nike</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Ana Daniela</td>
        <td>Lopez Neri</td>
        <td>Sarah</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Josue Atlai</td>
        <td>Martinez Otero</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Uriel Abdallah</td>
        <td>Medina Torres</td>
        <td>Nike</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Brian Jesus</td>
        <td>Mendoza Marquez</td>
        <td>Pirma</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Karen Lizbeth</td>
        <td>Negrete Hernandez</td>
        <td>Adidad</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Antonio</td>
        <td>Ocpaco Dolores</td>
        <td>Pirma</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Jonathan Baldemar</td>
        <td>Ramirez Reyes</td>
        <td>Patito</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Marcos Jesus</td>
        <td>Rios Duran</td>
        <td>Adidad</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Yared Amaury</td>
        <td>Romero Martinez</td>
        <td>Pirma</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Angel de Jesus</td>
        <td>Rufino Mendoza</td>
        <td>Nike</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Diego Salvador</td>
        <td>Tecorralco Martinez</td>
        <td>Nike/td>
      </tr>
      <tr>
        <td>24</td>
        <td>Guadalupe Idai</td>
        <td>Vargas Galindo</td>
        <td>Nike</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Juvenal</td>
        <td>Viveros Martinez</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Zyanya Ahuachtli</td>
        <td>Zacatenco Pedroza</td>
        <td>Adidas</td>
      </tr>
    </tbody>
  </table>
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Foo</td>
        <td>Bar</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Someone</td>
        <td>Youknow</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Iamout</td>
        <td>Ofinspiration</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Yoda</td>
        <td>Skywalker</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Patrick</td>
        <td>Dupont</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Barack</td>
        <td>Obama</td>
      </tr>
      <tr>
        <td>7</td>
        <td>François</td>
        <td>Holland</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Michel</td>
        <td>Popo</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Chuck</td>
        <td>Norris</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Simon</td>
        <td>Robin</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Louis</td>
        <td>Lin</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Zelda</td>
        <td>Link</td>
      </tr>
    </tbody>
  </table>
  