.breadcrumb {
    background-color: #cdeadc; /* Fondo */
    color: #1A090D; /* Texto oscuro */
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.breadcrumb p {
    margin: 0;
}

.breadcrumb-highlight {
    font-weight: bold;
    color: #adeada; /* Color de acento */
}
